
#name{
    color: #ffffff;
    text-align: center;
}

body{
    background-color: #222222;
}

#inputContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#inputWrap {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

#id{
    width: 300px;
    max-width : 350px;
    min-width: 120px;
    height: 26px;
    background: #C4C4C4;
    border-radius: 10px;
    text-align: center;
    border: hidden;
    margin: 0px auto;
}

#password{
    width: 300px;
    max-width : 350px;
    min-width: 120px;
    height: 26px;
    background: #C4C4C4;
    border-radius: 10px;
    text-align: center;
    margin: 0px auto;
    border: hidden;
}

#login{
    width: 300px;
    max-width : 350px;
    min-width: 120px;
    height: 26px;
    background: #3897CD;
    border-radius: 10px;
    text-align: center;
    color: #c0c0c0;
    font-size: 15px;
    margin: 0px auto;
    
    border: hidden;
    cursor: pointer;
}

#login:hover{
    background-color: skyblue;
    color: rgb(37, 37, 37);
}

#register{
    font-size: 14px;
    text-align: center;
    color: #2B96AD;
    background-color: #222222;
    border: hidden;
    text-decoration: none;
    
}

#register:hover{
    cursor: pointer;
    text-decoration: underline;
}